service: indorse-backend 

provider:
  name: aws
  runtime: nodejs8.10
  memorySize: 128 # set the maximum memory of the Lambdas in Megabytes
  timeout: 10 # the timeout is 10 seconds (default is 6 seconds)
  stage: dev # setting the env stage to dev, this will be visible in the routes
  region: us-east-1
  usagePlan:
    quota:
      limit: 5000
      offset: 2
      period: MONTH
    throttle:
      burstLimit: 200
      rateLimit: 100

functions: # add 3 functions according to the specification
  get:
    handler: handler.get # point to exported create function in handler.js
    events:
      - http:
          path: get # path will be domain.name.com/dev/notes
          method: get
          cors: true

  createProfile:
    handler: handler.createProfile # point to exported create function in handler.js
    events:
      - http:
          path: create-profile # path will be domain.name.com/dev/notes
          method: post
          cors: true
          request:
            parameters:
              querystrings: 
                data: true 

  updateProfile:
    handler: handler.updateProfile
    events:
      - http:
          path: update-profile # path will be domain.name.com/dev/notes/1
          method: post
          cors: true
          request:
            parameters:
              querystrings: 
                data: true 

  updateInterest:
    handler: handler.updateInterest # path will be domain.name.com/dev/notes
    events:
     - http:
          path: update-interest
          method: post
          cors: true
          request:
            parameters:
              querystrings: 
                data: true 


plugins:
- serverless-offline # adding this plugin for local development
